fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
pydantic-settings==2.3.4
python-dotenv==1.0.1
sqlalchemy==2.0.31
psycopg2-binary==2.9.9

# Let these resolve together
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-postgres
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
google-generativeai==0.7.2
requests==2.32.3
openai>=1.0.0